<!DOCTYPE html>
<html>
<head>
  <title>SMerchPro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		Samir Merchant
	</div>
	<div class="contact">
		<ul>
			<li><%= link_to "samirthemerchant@gmail.com", 'mailto:samirthemerchant@gmail.com' %></li>
			<li>312 391 8115</li>
			<li><%= link_to "github.com/FangedParakeet", 'http://github.com/FangedParakeet', target: 'blank' %></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="links"></div>
	<div class="content"></div>
	<div class="barrier">
		____________________________________________________________
	</div>
	<div class="intro"></div>
</body>
</html>
