<!DOCTYPE html>
<html>
<head>
  <title>Samir Merchant :: For Hire</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta property="og:title" content="Samir Merchant :: For Hire">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://samirmerchant.com">
	<meta property="og:image" content="/assets/sort of me.png">
	<meta property="og:site_name" content="Samir Merchant :: For Hire">
	<meta property="og:description" content="Take on me. Take me on. I'll be gone. In a day or two.">
	<meta name="description" content="Take on me. Take me on. I'll be gone. In a day or two.">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<script type="text/javascript">
		$(document).ready(function() {

		 spectrum();

		 function spectrum(){
		    var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
		    $('#logo').animate( { backgroundColor: hue }, 4000);
				$('.links ul li').animate( {backgroundColor: hue }, 4000);
				$('.left').animate( {backgroundColor: hue}, 4000);
		    spectrum();
		 }

		});
		
	</script>
</head>
<body>
		<div class="mobile_link">
			<%= link_to (image_tag 'mobile.png', size: '100x100', onmouseover: "this.src='assets/mobileinvert.png'", onmouseout: "this.src='assets/mobile.png'"), root_url(mobile: "1") %>
		</div>
		<div class="clear"></div>
		<div class="container">
			<div class="header">
				<div id="logo">
					<%= link_to (image_tag 'samir merchant.png',width: '400'), root_url %>
				</div>
				<div class="links"></div>
			</div>
			<div class="clear"></div>
			<div class="clear"></div>
			<div class="content">
				<div class="intro"></div>
			</div>
		</div>
		<div class="footer">
			<div class="contact">
				<ul>
					<li><%= link_to "samirthemerchant@gmail.com", 'mailto:samirthemerchant@gmail.com' %></li>
					<li>+91 9819 449 239</li>
					<li><%= link_to "github.com/FangedParakeet", 'http://github.com/FangedParakeet', target: 'blank' %></li>
				</ul>
			</div>

			<div class="site_info"></div>
			<div class="clear"></div>
		</div>
</body>
</html>
